.wrapper{background-color: bisque;
grid-area: nav;line-height: 30px; padding-left: 4px;}
.link{color: rgb(5, 51, 9);font-size: 16px ;font-weight: 500;
animation-name: telf;animation-timing-function: ease-in;animation-iteration-count: infinite;animation-duration: 24s;}
.link:hover{color: rgb(255, 0, 25);}
@keyframes telf{
0%{font-weight: 400;}
25%{font-weight: 500; color: cornflowerblue;text-transform: lowercase;}
50%{  font-weight: 600;color: rgb(255, 0, 157);text-transform:capitalize;}
79%{font-weight: 700;color: brown;text-transform:capitalize;}
100%{font-weight: 600 ;color: rgb(5, 51, 9); text-transform:uppercase ;}
}

