.App{background: rgb(237, 229, 237);
  display: grid;

  height: 100vh;
  grid-template-columns:100px 10fr ;
  grid-template-rows: 100px  10fr;
  
 grid-template-areas:     'head head'
                         'nav cont' ;
                          
  }

.wrapper-content{grid-area: cont;}
  